@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-accent: #ffcc00;
  --color-brand-160: #CDD8EF;
  --color-brand-150: #BAC9E9;
  --color-brand-140: #A6BAE2;
  --color-brand-130: #92ACDC;
  --color-brand-120: #7D9ED5;
  --color-brand-110: #6790CF;
  --color-brand-100: #4F82C8;
  --color-brand-90: #3174C2;
  --color-brand-80: #1267B4;
  --color-brand-70: #18599B;
  --color-brand-60: #1B4C82;
  --color-brand-50: #1B3F6A;
  --color-brand-40: #193253;
  --color-brand-30: #16263D;
  --color-brand-20: #111723;
  --color-brand-10: #020305;

  --color-neutral-150: oklch(94.6% 0 0);
  --color-neutral-250: oklch(89.6% 0 0);
  --color-neutral-350: oklch(78.9% 0 0);
  --color-neutral-450: oklch(63.2% 0 0);
  --color-neutral-550: oklch(49.8% 0 0);
  --color-neutral-650: oklch(40.5% 0 0);
  --color-neutral-750: oklch(32% 0 0);
  --color-neutral-850: oklch(23.7% 0 0);
}

@keyframes spinner-rotate {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124;
  }
}

.spinner-rotate {
  animation: spinner-rotate 2s linear infinite;
}

.spinner-dash {
  animation: spinner-dash 1.5s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@utility animate-shimmer {
  background: linear-gradient(90deg, #d1d5db 25%, #f3f4f6 50%, #d1d5db 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite;
}