{
  "General": {
    "FrontendUrl": "https://localhost:58010"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning",
      "Microsoft.EntityFrameworkCore": "Error"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Data Source=app.db"
  },
  "Email": {
    "Host": "smtp.gmail.com",
    "Port": 587,
    "Username": "correo@gmail.com",
    "Password": "xxxxxxxxxxxx"
  }
}